*.class
out/*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.iml
*.ipr
*.iws
.idea/
target/

node/
logs/
node_modules/
src/erp-web/src/main/webapp/static/assets/js/fcgyl/appConfig.js
src/erp-web/src/main/webapp/static/assets/js/fcgyl/AppConfig.js

#_api.bat
src/oms-web/src/main/webapp/WEB-INF/views/role/data.json
src/oms-web/src/main/webapp/static/assets/avatars/data.json

node
node_modules
src/main/resources/templates/dist
src/main/resources/public/dist